@{
    ViewData["Title"] = "Inicio";
}

<div class="text-center">
    <h1 class="display-4">Bienvenido!</h1>
    <p>Este es un ejercicio académico para la clase de Proyecto de Implementación Centrado en Arquitectura (PICA) de la Pontificia Universidad Javeriana (2019-03), en el que se usa MVC core.</p>
</div>
